.dark-mode {
	background-color: #171717;
	color: white;
}

.light-mode {
	background-color: white;
	color: #333333;
}
span:hover {
	color: rgb(46, 46, 209);
	border-color: rgb(30, 30, 184);
}
#plus {
	border-radius: 50%;
	margin-right: 5px;
}
